body {
  color: #222;
  padding-top: 80px;
  background: #DADEDE;
}

.searchbox { 
  border:1px solid #8A3349; 
  margin-right: 10px;
}

.submitbtn {
  width: 145px;
}

ul {
  padding-left: 0px;
}

ul li {
  list-style-type: none;
}

ul.artist li {
  width: 150px;
}

ul.artist li h4 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.upcoming h3, .similar h3 {
  color: #834E70;
}

#searchBox {
  border-radius: 8px;
  width: 800px;
}

.navbar-form {
  padding-left: 0 !important;
}

.img-round {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  border: 1px solid #DEDEDE;
  background-clip: padding-box;
  box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.05);
}

.search-result {
  margin-top: 20px;
  margin-bottom: 20px;
}

.col-xs-12 {
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-size: 15px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: none;
  border-radius: 6px;
}

.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  text-decoration: none;
}

.btn-default {
  color: #ffffff;
  background-color: #5F5293;
  border-color: #5F5293;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #ffffff;
  background-color: #5D6D87;
  border-color: #5D6D87;
}
