<div class="col-xs-12 listing">
   <div class="row">
      <div class="track" ng-repeat="result in data.results | orderBy:trackName">
         <div class="row search-result">
            <div class="col-xs-2">
               <img class="img-round thumbnail" ng-src="{{result.artworkUrl100}}" alt="">
            </div>
            <div class="description">
               <h4>{{result.trackName}}<br />
                  <a ng-href="{{result.artistViewUrl}}" target="_blank">{{result.artistName}}</a>
               </h4>
               <audio controls>
                 <source src="{{result.previewUrl}}" type="audio/mpeg">
               </audio>
            </div>
         </div>
      </div>
   </div>
</div>

